body {
  padding-top: 60px;
}
.maincont {
  display: flex;

  background-color: lightskyblue;
  transition: opacity 5s;
}

.nuev {
  background-color: rgba(20, 20, 02, 0.7);
}
.maincont.pri {
  height: 300vh;
}
.item {
  margin: 20px;
  order: 5;
  flex-grow: 4;
}
/*animacion de contenido */
.watched {
  opacity: 0;
  transition: opacity 1s;
}
.watched.animated {
  opacity: 1;
}
/*animacion de navbar */
.fadein {
  opacity: 1;
  transition: opacity 1s;
}
.fadein.fadeout {
  opacity: 0;
}
